@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic);


@font-face {
  font-family: NexaLight;
  src: url(../fonts/Nexa_Light.otf);
}

@font-face {
  font-family: NexaBold;
  src: url(../fonts/Nexa_Bold.otf);
}

@font-face {
  font-family: FeltTipWoman;
  src: url(../fonts/Felt_Tip_Woman.ttf);
}