@charset "UTF-8";
@import "old_style.css";

/*------------------------------
Общие настройки
-------------------------------*/
$pink: #f8a084;
$pink_light: #f3e6df;
$darkGray:  #455a64;

$robotoFont: 'Roboto Slab', serif;

%flex{
  display: flex;
  flex-wrap: wrap;
}



#tutorials{
  @extend %flex;
  justify-content: center;
  align-items: center;
  background: $pink_light;
  padding: 85px 20px;
  box-sizing: border-box;
  text-align: center;


    &>h2{
      color: $darkGray;
      font-family: $robotoFont;
      font-size: 29px;
      margin: 0 0 15px 0;
      width: 100%;
    }

    &>h3{
      color: $darkGray;
      font-family: $robotoFont;
      font-size: 15px;
      margin: 0 0 20px 0;
      width: 100%;
    }

    .forBtns{
      position: relative;
      margin-top: 35px;

      a{
        display: inline-block;
        text-decoration: none;
        color: white;
        min-width: 150px;
        padding: 13px 10px;
        background-color: $pink ;
        border: 2px solid $pink;
        border-radius: 30px;

        font-family: $robotoFont;
        font-size: 21px;
        font-weight: 400;
        margin: 0 18px;

        &.transparent{
          color: $pink;
          background: none;
        }
      }
    }



}
#categories{
  position: relative;

  &>.row{
    @extend %flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
    color: white;
    text-align: center;

    &:nth-of-type(even){
      &>.col-1{
        order: 2;
        color: white;
      }
      &>.col-2{
        order: 1;
        color: $darkGray;

      }
    }

    %col{
      @extend %flex;
      align-content: center;
      justify-content: center;
      width: 50%;
      height: 375px;
      box-sizing: border-box;
      padding: 20px;

      &>.icon{
        width: 100%;
        text-align: center;
      }
      &>h3{
        width: 100%;
        font-family: $robotoFont;
        font-size: 25px;
        font-weight: 400;
      }
      &>.forDesc{
        font-family: $robotoFont;
        font-size: 15px;
        font-weight: 400;
      }

    }


    &>.col-1{
      @extend %col;
      background: no-repeat center / cover;
    }

    &>.col-2{
      @extend %col;
      color: $darkGray;
    }


  }
  &>.center{
    position: absolute;
    width: 160px;
    height: 160px;
    background-color: $pink;
    left: calc(50% - 80px);
    top: calc(50% - 80px);

    transform: rotate(45deg);

    span{
      display: block;
      position: absolute;
      transform: rotate(-45deg);
      color: white;
      font-family: $robotoFont;
      font-size: 23px;
      font-weight: 400;
      top: 63px;
      left: 33px;
    }

  }

}
