@charset "utf-8";

//http://nomail.com.ua/font/HelveticaNeueCyr

@font-face { font-family: 'HelveticaNeueCyr-Black';  src: local('HelveticaNeueCyr-Black'), url('http://nomail.com.ua/files/woff/75fd0b9090247882c700e34fa8ed9c3e.woff') format('woff'); }
@font-face { font-family: 'HelveticaNeueCyr-Thin';  src: local('HelveticaNeueCyr-Thin'), url('http://nomail.com.ua/files/woff/3036ae86f3e196e33d3be155da20f495.woff') format('woff'); }
@font-face { font-family: 'HelveticaNeueCyr-Roman';  src: local('HelveticaNeueCyr-Roman'), url('http://nomail.com.ua/files/woff/cd2355028bca504c63a432c086eceb52.woff') format('woff'); }
@font-face { font-family: 'HelveticaNeueCyr-Bold';  src: local('HelveticaNeueCyr-Bold'), url('http://nomail.com.ua/files/woff/7ac1c8f0b974a943aa67859c07f86bd2.woff') format('woff'); }
@font-face { font-family: 'HelveticaNeueCyr-Light';  src: local('HelveticaNeueCyr-Light'), url('http://nomail.com.ua/files/woff/2127aa6d0680b144a3bd8be9debeba09.woff') format('woff'); }



