@charset "utf-8";

//http://nomail.com.ua/font/HelveticaNeueCyr

@font-face { font-family: 'HelveticaNeueCyr-Black';  src: local('HelveticaNeueCyr-Black'), url('http://nomail.com.ua/files/woff/75fd0b9090247882c700e34fa8ed9c3e.woff') format('woff'); }
@font-face { font-family: 'HelveticaNeueCyr-Thin';  src: local('HelveticaNeueCyr-Thin'), url('http://nomail.com.ua/files/woff/3036ae86f3e196e33d3be155da20f495.woff') format('woff'); }

@font-face { font-family: 'HelveticaNeueCyr-Roman';  src: local('HelveticaNeueCyr-Roman'), url('http://nomail.com.ua/files/woff/cd2355028bca504c63a432c086eceb52.woff') format('woff'); }



