@charset "utf-8";
@import "_helpers.scss", "fonts", "settings";



html, body{
  margin: 0;
  padding: 0;
  font-size: 1px;
  height: 100%;
  min-height: 100%;
}

header{
  position: absolute;
  width: 100%;
  z-index: 1;

  .wr{
      position: relative;
      .logo{
        display:block;
        text-decoration: none;
        text-transform: uppercase;
        padding: 24px 0;

        font-family: 'HelveticaNeueCyr-Black';
        color: #ffffff;
        font-size: 18px;
        font-weight: 900;
        text-align: left;

        span{
          font-family: 'HelveticaNeueCyr-Thin';
          color: #ffffff;
          font-weight: 100;
          text-align: left;
        }


      }
      .for-buttons{
        padding: 24px 0;

        a{
          display: inline-block;
          vertical-align: middle;
          margin-left: 10px;
        }
        .search{
          color: white;
          
          &:hover{
            color: $blue;
          }

          i{
            font-size: 20px;
          }
        }
        .sign-in{
          display: inline-block;
          font-family: 'HelveticaNeueCyr-Roman';
          color: #ffffff;
          font-size: 14px;
          font-weight: 400;
          text-align: right;
          border-radius: 3px;
          padding: 5px 20px;
          vertical-align: middle;

          &:hover, &.active{
            background-color:  $blue;
          }
        }
        .sign-up{
          @extend .sign-in;
          margin-right: 15px;
        }

      }
  }
  &:before{
    content: '';
    display:block;
    position: absolute;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  }
}
ul.slider{
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: white;

  &:before{
    content: '';
    display:block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  }


  li.slideItem{
    position: relative;
    background: no-repeat center / cover;

    &>.wr{
      position: absolute;
      width: 100%;
      bottom: 0;
      padding-bottom: 33px;

      .title{
        font-family: "HelveticaNeueCyr-Bold";
        color: #ffffff;
        font-size: 30px; /* Приближение из-за подстановки шрифтов */
        font-weight: 700;
        text-transform: uppercase;
      }
      .genre{
        span{
          font-family: 'HelveticaNeueCyr-Thin';
          color: #ffffff;
          font-size: 12px;
          font-weight: 400;
          display: inline-block;
          margin-right: 10px;
        }
      }
      .ratings{
        margin-top: 12px;
        .stars{
          display: inline-block;
          vertical-align: middle;

          i{
            font-size: 20px;
            color: $blue;
            vertical-align: middle;
          }
        }
        .rating{
          display: inline-block;
          vertical-align: middle;
          border: 1px solid $blue;
          border-radius: 3px;
          font-family: 'HelveticaNeueCyr-Roman';
          color:  #ffffff;
          font-size: 10px;
          font-weight: 500;
          text-align: center;
          padding: 0 5px;
        }

      }
    }
  }

}