@charset "UTF-8";
.is-16-9 {
  padding-top: 56.25%; }

.is-2-1 {
  padding-top: 50%; }

.is-4-3 {
  padding-top: 75%; }

@font-face {
  font-family: 'HelveticaNeueCyr-Black';
  src: local("HelveticaNeueCyr-Black"), url("http://nomail.com.ua/files/woff/75fd0b9090247882c700e34fa8ed9c3e.woff") format("woff"); }
@font-face {
  font-family: 'HelveticaNeueCyr-Thin';
  src: local("HelveticaNeueCyr-Thin"), url("http://nomail.com.ua/files/woff/3036ae86f3e196e33d3be155da20f495.woff") format("woff"); }
@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: local("HelveticaNeueCyr-Roman"), url("http://nomail.com.ua/files/woff/cd2355028bca504c63a432c086eceb52.woff") format("woff"); }
@font-face {
  font-family: 'HelveticaNeueCyr-Bold';
  src: local("HelveticaNeueCyr-Bold"), url("http://nomail.com.ua/files/woff/7ac1c8f0b974a943aa67859c07f86bd2.woff") format("woff"); }
html, body {
  margin: 0;
  padding: 0;
  font-size: 1px;
  height: 100%;
  min-height: 100%;
  background: #f5f7f7; }

header {
  position: absolute;
  width: 100%;
  z-index: 1; }
  header .wr {
    position: relative; }
    header .wr .logo {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      padding: 24px 0;
      font-family: 'HelveticaNeueCyr-Black';
      color: #ffffff;
      font-size: 18px;
      font-weight: 900;
      text-align: left; }
      header .wr .logo span {
        font-family: 'HelveticaNeueCyr-Thin';
        color: #ffffff;
        font-weight: 100;
        text-align: left; }
    header .wr .for-buttons {
      padding: 24px 0; }
      header .wr .for-buttons a {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px; }
      header .wr .for-buttons .search {
        color: white; }
        header .wr .for-buttons .search:hover {
          color: #0aaee4; }
        header .wr .for-buttons .search i {
          font-size: 20px; }
      header .wr .for-buttons .sign-in, header .wr .for-buttons .sign-up {
        display: inline-block;
        font-family: 'HelveticaNeueCyr-Roman';
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        text-align: right;
        border-radius: 3px;
        padding: 5px 20px;
        vertical-align: middle; }
        header .wr .for-buttons .sign-in:hover, header .wr .for-buttons .sign-up:hover, header .wr .for-buttons .sign-in.active, header .wr .for-buttons .active.sign-up {
          background-color: #0aaee4; }
      header .wr .for-buttons .sign-up {
        margin-right: 15px; }
  header:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, transparent 100%); }

ul.slider {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: white; }
  ul.slider:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, transparent 100%); }
  ul.slider li.slideItem {
    position: relative;
    background: no-repeat center / cover; }
    ul.slider li.slideItem > .wr {
      position: absolute;
      width: 100%;
      bottom: 0;
      padding-bottom: 33px; }
      ul.slider li.slideItem > .wr .title {
        font-family: "HelveticaNeueCyr-Bold";
        color: #ffffff;
        font-size: 30px;
        /* Приближение из-за подстановки шрифтов */
        font-weight: 700;
        text-transform: uppercase; }
      ul.slider li.slideItem > .wr .genre span {
        font-family: 'HelveticaNeueCyr-Thin';
        color: #ffffff;
        font-size: 12px;
        font-weight: 400;
        display: inline-block;
        margin-right: 10px; }
      ul.slider li.slideItem > .wr .ratings {
        margin-top: 12px; }
        ul.slider li.slideItem > .wr .ratings .stars {
          display: inline-block;
          vertical-align: middle; }
          ul.slider li.slideItem > .wr .ratings .stars i {
            font-size: 20px;
            color: #0aaee4;
            vertical-align: middle; }
        ul.slider li.slideItem > .wr .ratings .rating {
          display: inline-block;
          vertical-align: middle;
          border: 1px solid #0aaee4;
          border-radius: 3px;
          font-family: 'HelveticaNeueCyr-Roman';
          color: #ffffff;
          font-size: 10px;
          font-weight: 500;
          text-align: center;
          padding: 0 5px; }
      ul.slider li.slideItem > .wr .right-col a {
        color: white; }
        ul.slider li.slideItem > .wr .right-col a:hover {
          color: #0aaee4; }
      ul.slider li.slideItem > .wr .right-col a.btn {
        display: inline-block;
        border: 1px solid white;
        border-radius: 3px;
        font-family: 'HelveticaNeueCyr-Roman';
        color: #ffffff;
        font-size: 14px;
        font-weight: 100;
        padding: 4px 15px;
        margin-right: 10px; }
        ul.slider li.slideItem > .wr .right-col a.btn:hover, ul.slider li.slideItem > .wr .right-col a.btn.active {
          background-color: #0aaee4;
          border-color: #0aaee4; }
      ul.slider li.slideItem > .wr .right-col .more {
        margin-left: 10px; }
        ul.slider li.slideItem > .wr .right-col .more i {
          font-size: 26px;
          line-height: 0;
          vertical-align: middle; }

#content {
  max-width: 2000px;
  margin: 35px auto 0 auto;
  font-size: 14px;
  position: relative; }
  #content .category a {
    display: inline-block;
    font-family: 'HelveticaNeueCyr-Roman';
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    margin-right: 20px;
    border-bottom: 1px solid transparent; }
    #content .category a:hover, #content .category a.active {
      border-bottom: 1px solid #0aaee4; }
    #content .category a.plus i {
      vertical-align: middle;
      font-size: 16px; }
  #content .change-grid a {
    display: inline-block;
    color: rgba(36, 43, 45, 0.15); }
    #content .change-grid a:hover, #content .change-grid a.active {
      color: #0aaee4; }
    #content .change-grid a i {
      font-size: 20px; }
  #content .film-list {
    margin-top: 15px; }
    #content .film-list .film-item {
      background: white;
      background-clip: content-box; }
      #content .film-list .film-item .poster {
        background: no-repeat 0 0 / cover; }
      #content .film-list .film-item .short-info {
        flex-wrap: nowrap;
        padding: 20px; }
        #content .film-list .film-item .short-info .title {
          font-family: 'HelveticaNeueCyr-Bold';
          color: #242b2d;
          font-size: 11px;
          text-transform: uppercase;
          max-width: 115px;
          overflow-x: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        #content .film-list .film-item .short-info .genre {
          font-family: 'HelveticaNeueCyr-Roman';
          color: #47c3f0;
          font-size: 11px;
          margin-top: 5px; }
        #content .film-list .film-item .short-info .rate {
          border-radius: 3px;
          border: 1px solid #0aaee4;
          font-family: 'HelveticaNeueCyr-Thin';
          color: #0aaee4;
          font-size: 10px;
          /* Приближение из-за подстановки шрифтов */
          padding: 0 3px; }

/*# sourceMappingURL=app.css.map */
