@charset "UTF-8";
@font-face {
  font-family: "MuseoSansLight";
  src: url(../fonts/MuseoSansLight/MuseoSansLight.ttf);
}

@font-face {
  font-family: "MuseoSansMedium";
  src: url(../fonts/MuseoSansMedium/MuseoSansMedium.ttf);
}

@font-face {
  font-family: "MuseoSansBold";
  src: url(../fonts/MuseoSansBold/MuseoSansBold.ttf);
}

@font-face {
  font-family: "MuseoSansLightItalic";
  src: url(../fonts/MuseoSansLightItalic/MuseoSansLightItalic.ttf);
}


